.lop{
    background-color: aquamarine;
}

.lp{
    color: brown;
}  

.zx{
    background-color: blue;}
.np{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.kr{
    text-align: center;
}